/* Das Einblenden der Views animieren */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

/* Das Einblenden der Picture-Controls animieren */
.picture-item.au-enter {
  opacity: 0 !important;
}

.picture-item.au-enter-active {
  animation: fadeIn 2s;
}

/* Das verzögerte Einblenden der Picture-Controls in einer Liste animieren */
.picture-container-styleless {

}

.picture-container-styleless.au-stagger {
  animation-delay: 300ms;
}

/* Animationsdefinitionen */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
