<template>
  <require from="../../../Converter/number-to-string"></require>

  <section class="au-animate">
        <!-- Überschrift ausgeben -->
        <div class="block-header">
            <h2 t="Edit.Header" t-params.bind="locConfig"></h2>
        </div>
 
        <!-- Card ausgeben -->
        <div class="card">
            <!-- Card Header-->
            <div class="card-header">
                <h2>
                    ${ 'Edit.Card.Header.Text' | t: { ns: 'StammAlbum', context: editMode } }
                    <small>${ 'Edit.Card.Header.Description' | t: { ns: 'StammAlbum', context: editMode } }</small>
                </h2>
            </div>

            <!-- Card Body -->
            <div class="card-body card-padding">
                <!-- Validation-Summary ausgeben -->
                <div class.bind="hasValidationErrors == true ? 'alert alert-danger' : 'alert alert-danger collapse'">
                    <p repeat.for="validationError of validationErrors">${validationError.errorMessage}</p>
                </div>

                <!-- Das Formular ausgeben -->
                <form class="card-form" submit.trigger="saveChanges()">
                    <small t="Edit.Card.Body.Form.Labels.AlbumType" t-params.bind="locOptions"></small>
                    <div style="margin-top:20px; margin-bottom:45px;">
                        <label class="radio radio-inline m-r-20">
                            <input id="rb_Photo" type="radio" disabled.bind="isBusy" name="AlbumType" value="1" checked.bind="itemToEdit.Type | numberToString">
                            <i class="input-helper"></i>
                            ${ 'Edit.Card.Body.Form.Radiobuttons.Photo' | t: {ns: 'StammAlbum'} }
                        </label>
                        <label class="radio radio-inline m-r-20">
                            <input id="rb_Video" type="radio" disabled.bind="isBusy" name="AlbumType" value="2" checked.bind="itemToEdit.Type | numberToString">
                            <i class="input-helper"></i>
                            ${ 'Edit.Card.Body.Form.Radiobuttons.Video' | t: {ns: 'StammAlbum'} }
                        </label>
                    </div>

                    <!-- Input für Name (Deutsch) -->
                    <input-text is-busy.bind="isBusy"
                                entity.bind="itemToEdit"
                                entity-property.bind="itemToEdit.entityType.getDataProperty('NameGerman')"
                                value.two-way="itemToEdit.NameGerman"></input-text>

                    <!-- Line Break muss ausgeführt werden, da sonst die Eingabefelder
                         zu dicht aufeinander hängen und der Floating-Effect für die
                         Labels nicht richtig funktioniert
                    -->
                    <br />

                    <!-- Input für Name (Englisch) -->
                    <input-text is-busy.bind="isBusy"
                                entity.bind="itemToEdit"
                                entity-property.bind="itemToEdit.entityType.getDataProperty('NameEnglish')"
                                value.two-way="itemToEdit.NameEnglish"></input-text>

                    <!-- Line Break muss ausgeführt werden, da sonst die Eingabefelder
                         zu dicht aufeinander hängen und der Floating-Effect für die
                         Labels nicht richtig funktioniert
                    -->
                    <br />

                    <!-- Input für Beschreibung (Deutsch) -->
                    <input-textarea is-busy.bind="isBusy"
                                entity.bind="itemToEdit"
                                entity-property.bind="itemToEdit.entityType.getDataProperty('DescriptionGerman')"
                                value.two-way="itemToEdit.DescriptionGerman"></input-textarea>

                    <!-- Line Break muss ausgeführt werden, da sonst die Eingabefelder
                         zu dicht aufeinander hängen und der Floating-Effect für die
                         Labels nicht richtig funktioniert
                    -->
                    <br />

                    <!-- Input für Beschreibung (Englisch) -->
                    <input-textarea is-busy.bind="isBusy"
                                entity.bind="itemToEdit"
                                entity-property.bind="itemToEdit.entityType.getDataProperty('DescriptionEnglish')"
                                value.two-way="itemToEdit.DescriptionEnglish"></input-textarea>

                    <!-- Buttons ausgeben -->
                    <button id="btnSubmit"
                            type="submit"
                            bootstrap-tooltip
                            button-waves
                            class="btn btn-primary btn-icon-text waves-effect"
                            disabled.bind="!isSavingEnabled"
                            data-toggle="tooltip"
                            title=""
                            data-original-title=""
                            data-trigger="hover"
                            t="[data-original-title]Edit.Card.Body.Form.Tooltips.Submit;[append]General.Buttons.Save"
                            t-params.bind="locConfig">
                        <i class="zmdi zmdi-floppy"></i>
                    </button>
                    <button id="btnCancel"
                            type="button"
                            bootstrap-tooltip
                            button-waves
                            class="btn btn-danger btn-icon-text waves-effect"
                            disabled.bind="isBusy"
                            click.trigger="cancelChanges()"
                            style="margin-left: 10px;"
                            data-toggle="tooltip"
                            title=""
                            data-original-title=""
                            data-trigger="hover"
                            t="[data-original-title]Edit.Card.Body.Form.Tooltips.Cancel;[append]General.Buttons.Cancel"
                            t-params.bind="locConfig">
                        <i class="zmdi zmdi-close"></i>
                    </button>
                </form>
            </div>
        </div>
  </section>
</template>
