<template>
    <section class="au-animate">
        <!-- Überschrift ausgeben -->
        <div class="block-header">
            <h2 t="Header.Text" t-params.bind="locConfig"></h2>
        </div>

        <!-- Card ausgeben -->
        <div class="card">
            <div class="card-body card-padding">
                <!-- Ausgeben des Headers-->
                <div class="card-header">
                    <!-- Ausgeben der Überschrift -->
                    <h2>
                        ${ 'Card.Header.Text' | t: { ns: 'PictureShow', album: selectedFatherItem.NameGerman, context: albumContext}}
                        <small>${ 'Card.Header.Description' | t: { ns: 'PictureShow', context: albumContext}}</small>
                    </h2>
                </div>
            </div>
        </div>
    </section>
</template>
