<template>
  <require from="../../../Converter/sort-value-converter"></require>

  <section class="au-animate">
    <!-- Überschrift ausgeben -->
    <div class="block-header">
      <h2>${ 'Header.Text' | t: { ns: 'StammPictureUpload'}}
        <small>${ 'Header.Description' | t: { ns: 'StammPictureUpload'}}</small>
      </h2>
    </div>

    <!-- Card ausgeben -->
    <div class="card">
      <div class="card-body card-padding">
        <!-- Ausgeben des Tab-Controls -->
        <ej-tab id="tab_Upload_Picture" e-selected-item-index="0"
                e-on-create.trigger="tabCreated($event)" 
                e-on-before-active.trigger="tabBeforeActive($event)" 
                e-on-item-active.trigger="tabAfterActive($event)">
          <ul>
            <li><a href="#uploadControl">${ 'Card.Header.TabPages.Upload' | t: { ns: 'StammPictureUpload'}}</a></li>
            <li><a href="#uploadList">${ 'Card.Header.TabPages.List' | t: { ns: 'StammPictureUpload'}}</a></li>
          </ul>
          <!-- Die Tab-Seite mit dem Upload-Control ausgeben -->
          <div id="uploadControl">
            <!-- Ausgeben des Headers-->
            <div class="card-header">
              <h2>
                ${ 'Card.Header.TextUpload' | t: { ns: 'StammPictureUpload'}}
                <small>${ 'Card.Header.DescriptionUpload' | t: { ns: 'StammPictureUpload'}}</small>
              </h2>
            </div>

            <!-- Ausgeben des Upload-Controls -->
            <upload-control text-upload-error-header="${ 'Upload.Picture.Error.Header' | t: { ns: 'Alerts'}}"
                            text-upload-error-body="${ 'Upload.Picture.Error.Body' | t: { ns: 'Alerts'}}"
                            text-error-confirm-button="${ 'Upload.Picture.Error.Confirm_Button' | t: { ns: 'Alerts'}}"
                            text-upload-success-header="${ 'Upload.Picture.Success.Header' | t: { ns: 'Alerts'}}"
                            text-upload-success-body="${ 'Upload.Picture.Success.Body' | t: { ns: 'Alerts'}}"
                            text-success-confirm-button="${ 'Upload.Picture.Success.Confirm_Button' | t: { ns: 'Alerts'}}"
                            upload-type=1>
            </upload-control>
          </div>
      
          <!-- Die Seite mit den hochgeladenen Bildern ausgeben -->
          <div id="uploadList">
            <!-- Ausgeben des Beschriftungs-Headers -->
            <div class="card-header">
              <h2>
                ${ 'Card.Header.TextListe' | t: { ns: 'StammPictureUpload'}}
                <small>${ 'Card.Header.DescriptionListe' | t: { ns: 'StammPictureUpload'}}</small>
              </h2>
            </div>

            <!-- Ausgeben des Headers mit der Auswahl des Sortierkriteriums -->
            <div class="card-header ch-alt">
              <h2>${sortCriteriaHeaderText}</h2>

              <ul class="actions">
                <li class="dropdown">
                  <a href=""
                     bootstrap-tooltip
                     title=""
                     data-original-title=""
                     data-trigger="hover"
                     bootstrap-dropdown
                     data-toggle="dropdown"
                     aria-expanded="true"
                     t="[data-original-title]Card.Header.Tooltips.Sort"
                     t-params.bind="locConfig">
                     <i class="zmdi zmdi-sort"></i>
                  </a>

                  <ul class="dropdown-menu dropdown-menu-right">
                    <li repeat.for="Item of sortCriteriaList">
                      <a href="#" click.trigger="sortBy(Item)">${Item.displayText}</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#"
                     click.trigger="refreshList()"
                     bootstrap-tooltip
                     data-toggle="tooltip"
                     title=""
                     data-original-title=""
                     data-trigger="hover"
                     t="[data-original-title]Card.Header.Tooltips.Refresh"
                     t-params.bind="locConfig">
                     <i class="zmdi zmdi-refresh"></i>
                  </a>
                </li>
              </ul>
            </div>

            <!-- Ausgeben der Liste der hochgeladenen Bilder -->
            <div class="card-body card-padding">
              <div id="containerItems" class="container-fluid">
                <picture-control item.bind="Item" modus.bind="1" repeat.for="Item of entities | sort: { propertyName: currentSortCriteria.propertyName, direction: currentSortCriteria.direction }">
                </picture-control>
              </div>           
            </div>
          </div>
        </ej-tab>
      </div>
    </div>
  </section>
</template>
