<template>
    <section class="au-animate">
        <div class="login-content">
            <div class="lc-block-register toggled" id="l-register">
                <div class="lcb-form">
                    <!-- Element für die Überschrift ausgeben -->
                    <p style="font-size: 25px; font-weight:bold; margin-bottom: 25px;" t="Labels.Header" t-params.bind="locConfig"></p>

                    <!-- Element für eMail ausgeben -->
                    <div class="input-group m-b-5">
                        <span class="input-group-addon"></span>
                        <input-text-validation is-busy.bind="isBusy"
                                               input-type.bind="'email'"
                                               label-identifier.bind="Register.eMail.DisplayName"
                                               value.two-way="model.eMail & validate">
                        </input-text-validation>
                    </div>

                    <!-- Element für Sicherheitsfrage ausgeben -->
                    <div class="input-group m-b-25">
                        <span class="input-group-addon"></span>
                        <drop-down-control id.bind="'selectQuestion'" 
                                           data.bind="securityQuestionList" 
                                           water-mark-text.bind="titleDropdownQuestion"
                                           multiple-selection-allowed.bind="false"
                                           allow-grouping.bind="false"
                                           enable-filter-search.bind="true"
                                           is-enabled.bind="!isBusy">
                        </drop-down-control>
                    </div>

                    <!-- Element für Sicherheitsantwort ausgeben -->
                    <div class="input-group m-b-5">
                        <span class="input-group-addon"></span>
                        <input-text-validation is-busy.bind="isBusy"
                                               input-type.bind="'text'"
                                               label-identifier.bind="Register.SecurityAnswer.DisplayName"
                                               value.two-way="model.securityAnswer & validate">
                        </input-text-validation>
                    </div>

                    <a href=""
                       class="btn btn-login btn-success btn-float"
                       click.delegate="resetPassword()"
                       disabled.bind="isBusy"><i class="zmdi zmdi-check"></i></a>
                </div>

                <div class="lcb-navigation">
                    <a href=""
                       data-ma-action="login-switch"
                       data-ma-block="#l-login"
                       click.delegate="login()"
                       disabled.bind="isBusy"><i class="zmdi zmdi-long-arrow-right"></i><span>${ 'Buttons.Login.Text' | t: { ns: 'AuthForgotPassword' } }</span></a>
                </div>
            </div>
        </div>
    </section>
</template>
