<template>
    <section class="au-animate">
        <div class="login-content">
            <div class="lc-block-register toggled" id="l-register">
                <div class="lcb-form">
                    <!-- Element für die Überschrift ausgeben -->
                    <p style="font-size: 25px; font-weight:bold; margin-bottom: 25px;" t="Labels.Header" t-params.bind="locOptions"></p>

                    <!-- Element für Passwort ausgeben -->
                    <div class="input-group m-b-5">
                        <span class="input-group-addon"></span>
                        <input-text-validation is-busy.bind="isBusy"
                                               input-type.bind="'password'"
                                               label-identifier.bind="'Register.Password.DisplayName'"
                                               value.two-way="model.password & validate">
                        </input-text-validation>
                    </div>

                    <!-- Element für Passwort-Überprüfung ausgeben -->
                    <div class="input-group m-b-5">
                        <span class="input-group-addon"></span>
                        <input-text-validation is-busy.bind="isBusy"
                                               input-type.bind="'password'"
                                               label-identifier.bind="'Register.PasswordConfirmation.DisplayName'"
                                               value.two-way="model.passwordVerification & validate">
                        </input-text-validation>
                    </div>

                    <a href=""
                       class="btn btn-login btn-success btn-float"
                       click.delegate="newPassword()"
                       disabled.bind="isBusy"><i class="zmdi zmdi-check"></i></a>
                </div>

                <div class="lcb-navigation">
                    <a href=""
                       data-ma-action="login-switch"
                       data-ma-block="#l-login"
                       click.delegate="login()"
                       disabled.bind="isBusy"><i class="zmdi zmdi-long-arrow-right"></i><span>${ 'Buttons.Login.Text' | t: { ns: 'AuthNewPassword' } }</span></a>
                </div>
            </div>
        </div>
    </section>
</template>
